doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      h1.page-title Demo Website

    ul.nav
      li: a(href="/") Home
      li: a(href="/about") About
      li: a(href="/contact") Contact
      
    .main-content
      block content

    .footer 
      p Copyright © 2017 BlaBla. BlaBla ® is a Registered Trademark of BlaBla (un)Ltd.
 
